<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Your other app components -->

        <activity
            android:name=".MainActivity">

            <!-- Define intent filter to capture deep links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Specify the data (scheme, host, path) for the deep link -->
                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- You can add more data tags for additional conditions like host, path, etc. -->
            </intent-filter>
        </activity>
    </application>

    <!-- Define intent filter to open external apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>
    </queries>

</manifest>
